body {
  #preloader {
    position: fixed;
    display: none;
    top: 0;
    left: -10%;
    right: -10%;
    height: 0;
    margin-left: calc(100vw - 100%);
    overflow-x: hidden;
    .loader {
      @keyframes loading {
        from {
          margin-left: 50%;
          opacity: 0;
        }
        50% {
          margin-left: 0;
          opacity: 1;
        }
        to {
          margin-left: -50%;
          opacity: 0;
        }
      }
      margin: 50px auto;
      margin-bottom: 0;
      text-align: center;
      position: relative;
      width: 60%;
      span {
        background: #222;
        border-radius: 5px;
        display: inline-block;
        position: relative;
        width: 10px;
        height: 10px;
        position: absolute;
      }
      .dot_1 {
        margin-right: 10px;
        animation: loading 4s ease-in-out infinite;
      }
      .dot_2 {
        animation: loading 4s ease-in-out 0.3s infinite;
      }
      .dot_3 {
        animation: loading 4s ease-in-out 0.6s infinite;
      }
    }
  }

  &.preloader_active {
    height: 100vh;
    overflow-y: hidden;

    #preloader {
      height: auto;
      bottom: 0;
      display: flex;
      z-index: 9999;
      overflow: hidden;
      background-color: #fff;
    }
  }

  &.preloader_ready {
    height: auto;
    overflow-y: auto;

    #preloader {
      animation: preloaderLeaving 0.5s forwards;

      @keyframes preloaderLeaving {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}
