body {
  #preloader {
    position: fixed;
    display: none;
    top: 0;
    left: -10%;
    right: -10%;
    height: 0;
    margin-left: calc(100vw - 100%);
    overflow-x: hidden;
    .contain {
      margin: 0 auto;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .second {
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 15px;
      background-color: #c93756;
      animation: move-second 3.5s 100 ease;
    }
    .third {
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 15px;
      background-color: #c93756;
      animation: move 4s 100 ease;
    }
    .text {
      position: relative;
      top: 250px;
      font-family: sans-serif;
      animation: visi 3s 100 linear;
      color: #1f4788;
    }
    @keyframes move {
      0% {
        transform: translateY(50px) rotate(45deg);
      }
      25% {
        transform: translateY(-100px) rotate(90deg);
        background-color: #ffa400;
      }
      50% {
        transform: translateY(50px) rotate(180deg);
        background-color: #c93756;
      }
      75% {
        transform: translateY(-100px) rotate(220deg);
        background-color: #ffa400;
      }
      100% {
        transform: translateY(150px) rotate(360deg);
        background-color: #c93756;
      }
    }
    @keyframes move-second {
      0% {
        transform: translateY(150px) rotate(45deg);
      }
      25% {
        transform: translateY(-150px) rotate(90deg);
        background-color: #c93756;
      }
      50% {
        transform: translateY(75px) rotate(180deg);
        background-color: #ffa400;
      }
      75% {
        transform: translateY(-125px) rotate(220deg);
        background-color: #c93756;
      }
      100% {
        transform: translateY(200px) rotate(360deg);
        background-color: #ffa400;
      }
    }
    @keyframes visi {
      0% {
        opacity: 1;
      }
      25% {
        opacity: 0.8;
      }
      50% {
        opacity: 0.5;
      }
      75% {
        opacity: 0.8;
      }
      100% {
        opacity: 1;
      }
    }
  }

  &.preloader_active {
    height: 100vh;
    overflow-y: hidden;

    #preloader {
      height: auto;
      bottom: 0;
      display: flex;
      z-index: 9999;
      overflow: hidden;
      background-color: #fff;
    }
  }

  &.preloader_ready {
    height: auto;
    overflow-y: auto;

    #preloader {
      animation: preloaderLeaving 0.5s forwards;

      @keyframes preloaderLeaving {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}
